*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

/*---- TOP ----*/ 

.top{
    padding: 30px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    top: 0px;
    background-color: white;
    width: 90.5%;
    z-index: 10000;
}

.top h1{
    font-weight: lighter;
    color: rgb(58, 58, 58);
}

.top .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.menu .left,
.menu .right{
    margin: 0px 15px 0px 0px;
    display: flex;
    flex-direction: row;
}

.btn{
    cursor: pointer;
    border: none;
    font-size: 17px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
}

.menu .right .pannier{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu .right .pannier .btn{
    font-size: 20px;
    padding: 10px ;
    background-color: rgb(255, 255, 255);
    color: black;
}

/*---- DROPDOWN PLUS ----*/ 

.dropdown{
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    background-color: white;
    right: 8%;
}

.menu .left .dropdown-plus:nth-child(6):hover .dropdown{
    display: flex;
}

/*---- DROPDOWN LOGIN ----*/ 

.menu .right .login button{
    font-size: 17px;
    padding: 10px 2px;
    background-color: rgb(255, 255, 255);
    color: black;
    cursor: pointer;
    border: none;
}

.menu .right .login button i:nth-child(1){
    font-size: 21px;
    color: #233f6e;
}

.dropdown-login-content{
    padding: 15px;
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    background-color: white;
    right: 8%;
}

.menu .right .dropdown-login:hover .dropdown-login-content{
    display: flex;
}

/*---- DROPDOWN RESPONSIVE ----*/

.dropdown-responsive button{
    cursor: pointer;
    border: none;
    font-size: 25px;
    padding: 10px;
    background-color: transparent;
    color: black;
}

.dropdown-responsive{
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dropdown-responsive .dropdown-responsive-content{
    position: absolute;
    top: -30px;
    right: -85px;
    width: 55vh;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.dropdown-responsive .dropdown-responsive-content .btn-dropdown-responsive{
    color: white;
    font-size: 20px;
    padding: 10px;
}

.dropdown-responsive:hover .dropdown-responsive-content{
    display: flex;
}

/*---- DROPDOWN RESPONSIVE PLUS ----*/

.dropdown-responsive-plus{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.dropdown-responsive-plus .dropdown-responsive-content-plus{
    position: absolute;
    right: -235px;
    top: 0px;
    display: none;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    background-color: transparent;
    border-left: 2px solid white;
}

.dropdown-responsive-plus .dropdown-responsive-content-plus .btn-dropdown-responsive-plus{
    padding: 10px 20px;
}

.dropdown-responsive-plus:hover .dropdown-responsive-content-plus{
    display: flex;
}

/*---- DROPDOWN RESPONSIVE LOGIN ----*/

.dropdown-login-responsive{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.dropdown-login-responsive .dropdown-login-content-responsive{
    position: absolute;
    right: -233px;
    top: 0px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    background-color: transparent;
    border-left: 2px solid white;
}

.dropdown-login-responsive .dropdown-login-content-responsive .btn-dropdown-responsive-login{
    padding: 10px 20px;
}

.dropdown-login-responsive:hover .dropdown-login-content-responsive{
    display: flex;
}

/*---- CONTENT ----*/

.content{
    width: 100%;
    margin-top: 104px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content .pannier{
    min-height: 80vh;
    width: 65%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.pannier .article{
    min-height: 65vh;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.pannier .article .abonnement{
    width: 90%;
    display: flex;
    padding: 20px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border: 0.5px solid rgba(128, 128, 128, 0.445);
}

.pannier .article .abonnement h3{
    color: orangered;
    font-size: 1.4em;
    font-weight: lighter;
}

.pannier .article .abonnement p{
    color: rgb(0, 0, 0);
    font-weight: lighter;
}

.pannier .article .abonnement p a{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    color: rgb(80, 80, 80);
}

.pannier .article .abonnement p a:hover{
    color: black;
    text-decoration: underline;
}

.pannier .article .pannier-vide{
    width: 90%;
    display: flex;
    padding: 20px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.pannier .article .pannier-vide span{
    color: black;
    font-size: 1.6em;
}

.pannier .payement{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.pannier .payement h2{
    color: black;
    font-size: 2em;
    text-align: center;
    margin-bottom: 35px;
}

.pannier .payement .sous-total,
.pannier .payement .frais-estimer{
    padding: 15px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.pannier .payement .sous-total p,
.pannier .payement .frais-estimer p{
    font-size: 17px;
    font-weight: lighter;
}

.pannier .payement .total{
    padding: 15px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.pannier .payement .total p{
    font-weight: bolder;
    font-size: 20px;
}

.pannier .payement .payer{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pannier .payement button{
    width: 100%;
    border: none;
    padding: 20px;
    border-radius: 50px;
    background-color: #e7e7e7;
    margin: 10px;
    font-size: 17px;
    cursor: pointer;
} 

.pannier .payement button{
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
} 

.pannier .payement button:nth-child(1){
    margin-top: 20px;
    background-image: url(images/logo/apple-pay.png);
    background-size: 27%;
}

.pannier .payement button:nth-child(2){
    background-image: url(images/logo/paypal.png);
    background-size: 35%;
}
.pannier .payement button:nth-child(3){
    background-image: url(images/logo/visa.png);
    background-size: 27%;
}



/*---- FOOTER ----*/ 

footer{
    border-top: 1px rgb(63, 63, 63) solid;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: relative;
    z-index: 1;
}

footer p{
    color: gray;
    font-size: 17px;
}




/*------ DÉBUT RESPONSIVE ------*/

@media screen and (max-width: 1000px){

    .top .menu{
        display: none;
    }

    .top .dropdown-responsive{
        display: flex;
    }
}


/*------ FIN RESPONSIVE ------*/ 